#login-form {
  background: url("./loginBg.jpg");
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative; }
  #login-form .peicon {
    margin: 5px 0;
    color: #f1f2f5;
    font-size: 100px; }
  #login-form h3 {
    margin-top: 0;
    margin-bottom: 25px;
    color: #f1f2f5; }
  #login-form form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #login-form input {
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: #f1f2f5;
    outline: none;
    font-size: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    border: 2px solid #f0f0f1; }
  #login-form #login_btn {
    margin-top: 10px;
    width: 140px;
    background: #04A8F4;
    border: none;
    color: white;
    padding: 7px 15px; }
    #login-form #login_btn:hover {
      background: #038ccc; }
