.delete-modal .modal-header {
  border: none;
  background: #CC3E3A;
  color: white;
  font-size: 16px; }
  .delete-modal .modal-header h4 {
    font-size: 16px;
    margin: 0; }

.delete-modal .modal-body {
  padding: 30px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold; }

.delete-modal .modal-footer {
  border: none; }
