@import './_assets/css/mixins';

.left-side{
    z-index: 1000;
    padding-bottom: 50px;
    margin-top: 50px;
    position: fixed;
    left: 120px;
    width: 0;
    height: 100%;
    margin-left: -120px;
    overflow-y: auto;
    background: $main-color1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    touch-action: pinch-zoom;
    @include breakpoint(visible-from-md){
        width: 120px;
    }
}

nav{
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 120px;
    background: $main-color1;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 120px;
    }
}
.main-nav{
    position: relative;
    height: 100%;
    a{
        display: block;
        padding: 10px 18px;
        text-decoration: none;
        color: rgba(255, 255, 255, .75) !important;
        text-align: center;
        cursor: pointer;
    }
    .peicon{
        position: relative;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        font-size: 31px;
        background: #1e272b;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
        color: #04A8F4;
        &.active-page{
            background: $main-color2;
            color:$main-color1;
        }
        &:hover{
            color: #1e272b;
            -webkit-transition: all .3s ease-in;
            transition: all .3s ease-in;
            background: $main-color2;
        }
    }
    li{
        .active{
            &>i{
                color: #1e272b;
                background: #04A8F4;
            }
        }
    }
    span{
        word-wrap: break-word;
        font-size: 11px;
        text-transform: uppercase;
        font-family: Montserrat;
        display: inline-block;
    }
}
