.skill-modal .modal-header {
  border: none;
  background: #263238;
  color: white; }
  .skill-modal .modal-header .modal-title {
    font-size: 16px; }

.skill-modal .modal-footer {
  border: none; }

.skill-modal .form-control:focus {
  border-color: #263238;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 50, 56, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 50, 56, 0.6); }
