.left-sidebar {
  z-index: 1000;
  position: fixed;
  left: 120px;
  width: 0;
  height: 100%;
  margin-left: -120px;
  overflow-y: auto;
  background: #263238;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  touch-action: pinch-zoom; }
  @media (min-width: 992px) {
    .left-sidebar {
      width: 120px; } }

nav {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 120px;
  background: #263238; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 120px; }

.main-nav {
  position: relative;
  height: 100%; }
  .main-nav a {
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75) !important;
    text-align: center;
    cursor: pointer; }
  .main-nav .peicon {
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 31px;
    background: #1e272b;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: #04A8F4; }
    .main-nav .peicon.active-page {
      background: #04A8F4;
      color: #263238; }
    .main-nav .peicon:hover {
      color: #1e272b;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in;
      background: #04A8F4; }
  .main-nav li .active > i {
    color: #1e272b;
    background: #04A8F4; }
  .main-nav span {
    word-wrap: break-word;
    font-size: 11px;
    text-transform: uppercase;
    font-family: Montserrat;
    display: inline-block; }

#stories {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background: #1e272b;
  padding: 12px; }
