.right-sidebar {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #263238;
  color: white;
  touch-action: pinch-zoom; }
  @media (min-width: 992px) {
    .right-sidebar {
      width: 250px; } }
  .right-sidebar .widgets-container {
    width: 250px; }
    .right-sidebar .widgets-container .sidebarwidgets {
      height: 350px;
      position: relative;
      background: -webkit-linear-gradient(rgba(43, 48, 59, 0.5), rgba(43, 48, 59, 0.5)); }
      .right-sidebar .widgets-container .sidebarwidgets .img-profile-container {
        background: url(./portrait2.jpg) no-repeat center;
        background-position: left;
        position: absolute;
        background-size: cover;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
        .right-sidebar .widgets-container .sidebarwidgets .img-profile-container .bio-details {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 5;
          width: 100%;
          padding: 15px 0;
          text-align: center;
          background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #263238);
          background: linear-gradient(rgba(255, 255, 255, 0), #263238); }
          .right-sidebar .widgets-container .sidebarwidgets .img-profile-container .bio-details span {
            display: block;
            margin: 5px 0; }
          .right-sidebar .widgets-container .sidebarwidgets .img-profile-container .bio-details .bio-name {
            font-size: 21px;
            font-weight: 300;
            /* opacity: 0.8; */
            text-transform: uppercase; }
          .right-sidebar .widgets-container .sidebarwidgets .img-profile-container .bio-details .bio-more {
            background: #04A8F4;
            display: inline-block;
            padding: 0 13px;
            font-size: 9px;
            border-radius: 50px;
            text-transform: uppercase;
            font-family: Montserrat;
            letter-spacing: 1px; }
          .right-sidebar .widgets-container .sidebarwidgets .img-profile-container .bio-details .fa {
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 13px;
            margin-right: 10px;
            opacity: 0.9;
            color: #fff; }
    .right-sidebar .widgets-container .recent-activity {
      padding: 20px; }
      .right-sidebar .widgets-container .recent-activity ul {
        list-style-type: none;
        position: relative;
        padding: 15px 0 25px 10px;
        font-size: 14px;
        margin: 0; }
        .right-sidebar .widgets-container .recent-activity ul p {
          opacity: 0.6; }
        .right-sidebar .widgets-container .recent-activity ul:after {
          content: "";
          position: absolute;
          top: 22px;
          left: -4.5px;
          bottom: 0;
          border-left: 2px solid rgba(255, 255, 255, 0.16);
          height: 96%; }
        .right-sidebar .widgets-container .recent-activity ul li {
          margin: 15px 0 35px 10px;
          position: relative;
          display: block; }
          .right-sidebar .widgets-container .recent-activity ul li:last-child {
            margin-bottom: 0px; }
          .right-sidebar .widgets-container .recent-activity ul li:before {
            border: 2px solid #04A8F4;
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #263238;
            position: absolute;
            z-index: 2;
            left: -29px;
            top: 7.5px; }
          .right-sidebar .widgets-container .recent-activity ul li .eyebrow {
            display: table;
            font-size: 8px;
            padding: 4px 18px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 8px;
            position: relative;
            top: 3.5px;
            z-index: 0;
            max-width: 300px;
            line-height: 1.2;
            border-radius: 50px;
            background: #161d1f;
            font-family: Montserrat; }
            .right-sidebar .widgets-container .recent-activity ul li .eyebrow:before {
              content: "";
              position: absolute;
              left: -20px;
              border-bottom: 2px solid rgba(255, 255, 255, 0.16);
              width: 20px;
              top: 9px;
              z-index: -1; }
          .right-sidebar .widgets-container .recent-activity ul li h1 {
            font-size: 11px;
            line-height: 1.5;
            text-transform: uppercase;
            font-family: Montserrat;
            color: rgba(255, 255, 255, 0.7);
            margin-top: 20px;
            margin-bottom: 10px; }
          .right-sidebar .widgets-container .recent-activity ul li .activity-title {
            display: table;
            color: rgba(255, 255, 255, 0.33);
            font-size: 13px;
            padding: 4px 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0px;
            position: relative;
            font-family: Montserrat;
            top: 2px;
            z-index: 0;
            max-width: 300px;
            line-height: 1.2;
            border-radius: 50px; }
      .right-sidebar .widgets-container .recent-activity .activity-title-ul {
        list-style-type: none;
        position: relative;
        padding: 1px 0 0px 10px;
        font-size: 14px;
        margin: 0; }
        .right-sidebar .widgets-container .recent-activity .activity-title-ul .activity-title-li:before {
          content: "";
          display: block;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          position: absolute;
          z-index: 2;
          left: -31px;
          top: 3.5px;
          border: 2px solid rgba(255, 255, 255, 0.16); }
