.blog-modal {
  padding: 0 !important; }
  .blog-modal .modal-dialog {
    width: 100%;
    margin: 0; }
    .blog-modal .modal-dialog .modal-content {
      border: 0;
      border-radius: 0; }
      .blog-modal .modal-dialog .modal-content .modal-header {
        padding: 15px 15px 15px 0;
        border-bottom: 0;
        position: relative;
        z-index: 9;
        float: right; }
        .blog-modal .modal-dialog .modal-content .modal-header .close {
          height: 50px;
          width: 50px;
          border-radius: 5px;
          color: #dedee0;
          opacity: 1;
          font-size: 50px;
          margin-top: -2px; }
        .blog-modal .modal-dialog .modal-content .modal-header:after {
          clear: both; }
      .blog-modal .modal-dialog .modal-content .modal-body {
        padding: 0; }
        .blog-modal .modal-dialog .modal-content .modal-body .intro-header {
          margin-bottom: 50px;
          background-size: cover;
          position: relative; }
          .blog-modal .modal-dialog .modal-content .modal-body .intro-header .blog-header-layer {
            width: 100%;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)); }
          .blog-modal .modal-dialog .modal-content .modal-body .intro-header .post-heading {
            padding: 150px 0; }
            .blog-modal .modal-dialog .modal-content .modal-body .intro-header .post-heading .posts-tag {
              text-align: center; }
              .blog-modal .modal-dialog .modal-content .modal-body .intro-header .post-heading .posts-tag .label {
                background: #04A8F4;
                border-radius: 50px;
                padding: 2px 10px;
                text-transform: uppercase;
                font-size: 10px;
                margin-right: 4px; }
            .blog-modal .modal-dialog .modal-content .modal-body .intro-header .post-heading h1 {
              color: #fff;
              font-family: Montserrat;
              font-size: 53px;
              margin-top: 10px; }
              @media (max-width: 767px) {
                .blog-modal .modal-dialog .modal-content .modal-body .intro-header .post-heading h1 {
                  font-size: 30px;
                  margin-top: 25px; } }
            .blog-modal .modal-dialog .modal-content .modal-body .intro-header .post-heading .meta {
              color: #fff;
              font-size: 10px;
              text-transform: uppercase;
              font-family: Montserrat; }
            .blog-modal .modal-dialog .modal-content .modal-body .intro-header .post-heading .authorlink {
              font-family: Montserrat;
              color: #fff;
              margin-right: 20px; }
        .blog-modal .modal-dialog .modal-content .modal-body article {
          padding: 50px 0; }
          .blog-modal .modal-dialog .modal-content .modal-body article .firstcharacter {
            float: left;
            font-size: 75px;
            line-height: 60px;
            padding-top: 4px;
            padding-right: 8px;
            font-weight: bold; }
        .blog-modal .modal-dialog .modal-content .modal-body .comment-list {
          list-style: none outside none;
          margin: 0;
          padding: 0; }
          .blog-modal .modal-dialog .modal-content .modal-body .comment-list .comment {
            background: #f3f3f3;
            color: rgba(51, 51, 51, 0.87);
            margin: 6rem 0 1rem;
            padding: 3rem 2rem 2rem;
            position: relative; }
            .blog-modal .modal-dialog .modal-content .modal-body .comment-list .comment:after {
              border-bottom: 1rem solid transparent;
              border-right: 1rem solid #f3f3f3;
              border-top: 1rem solid transparent;
              content: "";
              height: 0;
              left: -1rem;
              position: absolute;
              top: 4rem;
              width: 0; }
            @media (min-width: 767px) {
              .blog-modal .modal-dialog .modal-content .modal-body .comment-list .comment {
                margin: 4rem 1rem 4rem 1rem;
                padding: 2rem; } }
            .blog-modal .modal-dialog .modal-content .modal-body .comment-list .comment-header .comment-date {
              margin: 0;
              margin-bottom: 0px;
              background: #a5a3a3;
              display: inline-block;
              border-radius: 50px;
              color: rgba(255, 255, 255, 0.8);
              padding: 0px 20px;
              margin-bottom: 10px;
              font-size: 11px;
              height: 20px;
              line-height: 20px; }
            .blog-modal .modal-dialog .modal-content .modal-body .comment-list .comment-header .comment-title {
              margin: 0 0 1rem;
              font-size: 17px; }
              .blog-modal .modal-dialog .modal-content .modal-body .comment-list .comment-header .comment-title strong {
                font-weight: bold;
                font-size: 18px; }
        .blog-modal .modal-dialog .modal-content .modal-body .comment-form {
          margin: 4rem 1rem 4rem 1rem; }
          .blog-modal .modal-dialog .modal-content .modal-body .comment-form h4 {
            font-weight: bold;
            font-size: 23px;
            margin-bottom: 20px; }
          .blog-modal .modal-dialog .modal-content .modal-body .comment-form fieldset {
            border: none; }
          .blog-modal .modal-dialog .modal-content .modal-body .comment-form #comment_form {
            width: auto;
            margin-bottom: 50px;
            padding: 0;
            text-align: center; }
            .blog-modal .modal-dialog .modal-content .modal-body .comment-form #comment_form input {
              width: 100%;
              height: 50px;
              padding: 0px 15px 0px 15px;
              background: #f1f2f5;
              outline: none;
              margin-bottom: 5px;
              transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              background: rgba(248, 249, 251, 0.6);
              border: 2px solid #f0f0f1; }
            .blog-modal .modal-dialog .modal-content .modal-body .comment-form #comment_form textarea {
              width: 100%;
              height: 110px;
              max-height: 110px;
              padding: 15px;
              background: #f1f2f5;
              outline: none;
              transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              background: rgba(248, 249, 251, 0.6);
              border: 2px solid #f0f0f1; }
            .blog-modal .modal-dialog .modal-content .modal-body .comment-form #comment_form .btn {
              margin-top: 10px; }
