@import './_assets/css/mixins';

.blog-modal{
    padding: 0 !important;
    .modal-dialog{
        width: 100% ;
        margin: 0 ;
        .modal-content{
            border: 0;
            border-radius: 0;
            .modal-header{
                padding: 15px 15px 15px 0;
                border-bottom: 0;
                position: relative;
                z-index: 9;
                float: right;
                .close{
                    height: 50px;
                    width: 50px;
                    border-radius: 5px;
                    color: #dedee0;
                    opacity: 1;
                    font-size: 50px;
                    margin-top: -2px;
                }
                &:after{
                    clear: both;
                }
            }
            .modal-body{
                padding: 0;
                .intro-header{
                    margin-bottom: 50px;
                    background-size: cover;
                    position: relative;
                    .blog-header-layer{
                        width: 100%;
                        position: absolute;
                        height: 100%;
                        left: 0;
                        top: 0;
                        z-index: 0;
                        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8))
                    }
                    .post-heading{
                        padding: 150px 0;
                        .posts-tag{
                            text-align: center;
                            .label{
                                background: $main-color2;
                                border-radius: 50px;
                                padding: 2px 10px;
                                text-transform: uppercase;
                                font-size: 10px;
                                margin-right: 4px;
                            }
                        }
                        h1{
                            color: #fff;
                            font-family: Montserrat;
                            font-size: 53px;
                            margin-top: 10px;
                            @include breakpoint(visible-xs){
                                font-size: 30px;
                                margin-top: 25px;
                            }
                        }
                        .meta{
                            color: #fff;
                            font-size: 10px;
                            text-transform: uppercase;
                            font-family: Montserrat;
                        }
                        .authorlink{
                            font-family: Montserrat;
                            color: #fff;
                            margin-right: 20px;
                        }
                    }
                }

                article{
                    padding: 50px 0;
                    .firstcharacter{
                        float: left;
                        font-size: 75px;
                        line-height: 60px;
                        padding-top: 4px;
                        padding-right: 8px;
                        font-weight: bold;
                    }
                }
                .comment-list{
                    list-style: none outside none;
                    margin: 0;
                    padding: 0;
                    .comment{
                        background: #f3f3f3;
                        color: rgba(51, 51, 51, 0.87);
                        margin: 6rem 0 1rem;
                        padding: 3rem 2rem 2rem;
                        position: relative;
                        &:after{
                            border-bottom: 1rem solid transparent;
                            border-right: 1rem solid #f3f3f3;
                            border-top: 1rem solid transparent;
                            content: "";
                            height: 0;
                            left: -1rem;
                            position: absolute;
                            top: 4rem;
                            width: 0;
                        }
                        @include breakpoint(visible-from-xs){
                            margin: 4rem 1rem 4rem 1rem;
                            padding: 2rem;
                        }

                        &-header{
                            .comment-date{
                                margin: 0;
                                margin-bottom: 0px;
                                background: #a5a3a3;
                                display: inline-block;
                                border-radius: 50px;
                                color: rgba(255, 255, 255, 0.8);
                                padding: 0px 20px;
                                margin-bottom: 10px;
                                font-size: 11px;
                                height: 20px;
                                line-height: 20px;
                            }
                            .comment-title{
                                margin: 0 0 1rem;
                                font-size: 17px;
                                strong{
                                    font-weight: bold;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .comment-form{
                    margin: 4rem 1rem 4rem 1rem;
                    h4{
                        font-weight: bold;
                        font-size: 23px;
                        margin-bottom: 20px;
                    }

                    fieldset{
                        border: none;
                    }

                    #comment_form{
                        width: auto;
                        margin-bottom: 50px;
                        padding: 0;
                        text-align: center;
                        input{
                            width: 100%;
                            height: 50px;
                            padding: 0px 15px 0px 15px;
                            background: #f1f2f5;
                            outline: none;
                            margin-bottom: 5px;
                            transition: all 0.3s ease-in-out;
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -ms-transition: all 0.3s ease-in-out;
                            background: rgba(248, 249, 251, 0.6);
                            border: 2px solid #f0f0f1;
                        }
                        textarea{
                            width: 100%;
                            height: 110px;
                            max-height: 110px;
                            padding: 15px;
                            background: #f1f2f5;
                            outline: none;
                            transition: all 0.3s ease-in-out;
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -ms-transition: all 0.3s ease-in-out;
                            background: rgba(248, 249, 251, 0.6);
                            border: 2px solid #f0f0f1;
                        }
                        .btn{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}