header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  max-height: 100px;
  z-index: 1030; }
  header .logo {
    background-color: #049ae0;
    color: #fff;
    border-bottom: 0 solid transparent;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 120px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    text-decoration: none; }
  header .navbar {
    background-color: #04A8F4;
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 120px;
    border: none;
    min-height: 50px;
    border-radius: 0; }
  header nav {
    width: auto; }
    header nav .sign-out {
      float: right;
      font-weight: bold;
      color: white;
      padding: 13px;
      font-size: 16px;
      cursor: pointer;
      background: transparent;
      transition: all .3s ease; }
      header nav .sign-out:hover {
        background: #0497db; }

.left-menu-toggle {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  padding: 5px;
  cursor: pointer; }
  .left-menu-toggle .peicon {
    color: white;
    font-size: 37px; }
