.about {
  position: relative;
  color: #555;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px; }
  .about .featured-background {
    position: relative; }
    .about .featured-background:before, .about .featured-background:after {
      position: absolute;
      content: "";
      z-index: 3;
      left: -100px;
      right: -100px;
      top: 100%;
      height: 100px;
      background: #FBFBFB;
      -webkit-transform: rotate(2.2deg);
      transform: rotate(2.2deg);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0; }
    .about .featured-background:after {
      -webkit-transform: rotate(-2.2deg);
      transform: rotate(-2.2deg); }
    .about .featured-background .backgroundimg {
      height: 300px;
      position: relative;
      width: 100%;
      padding-top: 100px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./homebg.jpg) no-repeat;
      background-repeat: repeat, no-repeat;
      background-position-x: 0%, 0%;
      background-position-y: 0%, 0%;
      background-size: auto auto, auto auto;
      min-height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .about .featured-background .backgroundimg .headerdes-container {
        text-align: center;
        padding: 0 100px; }
        .about .featured-background .backgroundimg .headerdes-container .peicon {
          position: relative;
          float: right;
          border-radius: 50%;
          height: 87px;
          width: 87px;
          text-align: center;
          line-height: 87px;
          font-size: 51px;
          color: rgba(255, 255, 255, 0.71);
          top: -12px; }
          @media (max-width: 992px) {
            .about .featured-background .backgroundimg .headerdes-container .peicon {
              display: none; } }
      .about .featured-background .backgroundimg fieldset {
        border: 1px solid rgba(255, 255, 255, 0.43);
        margin: auto 0;
        border-radius: 50px;
        height: 100px;
        position: relative; }
        @media (max-width: 992px) {
          .about .featured-background .backgroundimg fieldset {
            height: inherit; } }
        @media (max-width: 767px) {
          .about .featured-background .backgroundimg fieldset {
            border: none; } }
      .about .featured-background .backgroundimg legend {
        width: auto;
        padding: 0 10px;
        border: none;
        color: rgba(255, 255, 255, 0.71);
        margin: auto;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center; }
        @media (max-width: 992px) {
          .about .featured-background .backgroundimg legend {
            display: none; } }
      .about .featured-background .backgroundimg h3 {
        text-align: center;
        margin: 0;
        padding-left: 87px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.71);
        line-height: 67px;
        font-family: Montserrat; }
        @media (max-width: 992px) {
          .about .featured-background .backgroundimg h3 {
            font-size: 30px; } }
        @media (max-width: 767px) {
          .about .featured-background .backgroundimg h3 {
            font-size: 24px; } }
  .about .thecontainer {
    position: relative;
    padding: 2em 0 3em;
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
    z-index: 4; }

.personalinfo {
  padding: 0;
  list-style: none; }
  .personalinfo span {
    height: 35px;
    line-height: 35px;
    display: inline-block; }

.about-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px; }

.personalinfo-tag {
  width: 110px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 11px; }

.av-freelance, .personalinfo-item i {
  display: inline !important;
  color: #fff;
  padding: 2px 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 10px;
  font-style: normal;
  margin-right: 5px; }

.av-freelance, .personalinfo-item i {
  background: #04A8F4; }

.resume-container {
  padding-bottom: 1px; }

.timeline {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none; }
  .timeline:before {
    content: '';
    position: absolute;
    top: 100px;
    bottom: 0;
    background: #ddd;
    left: 45px;
    border: 1px solid #eee;
    margin: 0;
    border-radius: 2px; }
  .timeline > li {
    position: relative;
    margin-bottom: 15px; }
    .timeline > li:before, .timeline > li:after {
      display: table;
      content: " "; }
    .timeline > li:after {
      clear: both; }
    .timeline > li.time-label > span {
      padding: 5px;
      padding-right: 5px;
      padding-left: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 50px;
      text-transform: uppercase;
      border: 2px solid #f0f0f1;
      font-size: 9px;
      background: #FBFBFB;
      font-family: Montserrat; }
    .timeline > li > .timeline-item {
      margin-left: 60px;
      padding: 5px;
      position: relative; }
      .timeline > li > .timeline-item > .time {
        font-size: 9px;
        float: right;
        height: 25px;
        line-height: 25px;
        border-radius: 0 50px 50px 0;
        padding: 0 10px;
        background: rgba(0, 0, 0, 0.3);
        color: #fff; }
      .timeline > li > .timeline-item > .timeline-header {
        margin: 0;
        padding: 0 10px;
        font-size: 9px;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        height: 25px;
        border-radius: 50px;
        color: #fff;
        font-family: Montserrat;
        background: #04A8F4; }
  .timeline .res-location {
    margin: 0 7px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 8px; }

.timeline > li > .peicon, .timeline > li > .glyphicon, .timeline > li > .ion, .downloadcv {
  width: 35px;
  height: 35px;
  font-size: 18px;
  line-height: 37px;
  position: absolute;
  border-radius: 50px;
  text-align: center;
  left: 14px;
  top: 0;
  color: #fff !important;
  background-color: #263238; }

.resume-container .res-sec-date {
  display: inline-block;
  top: 41%;
  left: 17px;
  padding: 10px 0;
  position: absolute;
  background: #FBFBFB;
  font-family: Montserrat;
  font-size: 12px;
  color: #04A8F4; }
  .resume-container .res-sec-date span {
    display: block; }
  .resume-container .res-sec-date .firstdate {
    border-bottom: 2px solid #f0f0f1; }

.timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
  padding: 10px 0;
  padding: 20px;
  margin-top: 10px;
  border: 2px solid #f0f0f1;
  background: #FDFDFD;
  border-radius: 4px; }

.skills-container, .skills-container-3 {
  border: 2px solid #f0f0f1;
  background: #FDFDFD;
  border-radius: 4px;
  margin-bottom: 10px; }

.skills-item {
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #f0f0f1; }
  .skills-item .peicon {
    height: 50px;
    line-height: 50px;
    font-size: 29px;
    width: 50px;
    text-align: center; }

.skills-title {
  font-size: 9px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  position: absolute;
  font-family: Montserrat; }

.skills-cardcontent {
  padding: 26px 20px 20px 20px;
  position: relative;
  border-top: 2px solid #f0f0f1; }
  .skills-cardcontent .skill-percent {
    display: block;
    position: absolute;
    top: -25px;
    right: 23px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.78);
    cursor: pointer;
    font-family: Montserrat;
    background: #04A8F4; }

.skills-cardfooters {
  padding: 10px 0; }
  .skills-cardfooters .skills-cardfooter {
    padding: 0px 20px; }
    .skills-cardfooters .skills-cardfooter .skills-label {
      color: rgba(255, 255, 255, 0.91);
      font-size: 10px;
      padding: 2px 9px;
      border-radius: 50px;
      font-weight: bold;
      background: #04A8F4; }
    .skills-cardfooters .skills-cardfooter .skills-level {
      float: right;
      font-size: 10px; }

.bar-container {
  height: 3px;
  background: rgba(0, 0, 0, 0.13);
  margin: 4px 0px;
  overflow: hidden;
  border-radius: 1.5px;
  width: 100%; }

.bar, .skills-container-4 .bar {
  float: left;
  background: #263238;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1; }

figure.snip1204 .author h5, figure.snip1204 .author span {
  left: 140px;
  position: absolute;
  padding: 3px 5px; }

figure.snip1204 {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: left;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: 10px; }
  figure.snip1204 blockquote {
    display: block;
    border-radius: 4px;
    position: relative;
    background-color: #FDFDFD;
    padding: 30px 50px 65px 50px;
    margin: 0 0 -40px;
    border: 2px solid #f0f0f1;
    font-size: 14px; }
    figure.snip1204 blockquote:before, figure.snip1204 blockquote:after {
      font-family: 'FontAwesome';
      content: "\201C";
      position: absolute;
      font-size: 50px;
      opacity: 0.3;
      font-style: normal; }
    figure.snip1204 blockquote:before {
      top: 35px;
      left: 20px; }
    figure.snip1204 blockquote:after {
      content: "\201D";
      right: 20px;
      bottom: 35px; }
  figure.snip1204 .author {
    margin: 0;
    height: 80px;
    display: block;
    text-align: left;
    padding: 0 35px;
    position: relative; }
    figure.snip1204 .author img {
      max-width: 100%;
      height: 80px;
      width: 80px;
      border-radius: 4px;
      margin-right: 5px;
      display: block;
      z-index: 1;
      position: absolute;
      left: 50px; }
    figure.snip1204 .author h5 {
      bottom: 56%;
      margin: 0;
      font-size: 14px;
      color: #04A8F4; }
    figure.snip1204 .author span {
      top: 47%; }

.testi-location {
  background: #263238;
  margin-top: 10px;
  border-radius: 50px;
  padding: 0px 10px 0 50px !important;
  color: rgba(255, 255, 255, 0.78);
  left: 96px !important;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 9px !important; }
