@import './_assets/css/mixins';
.about{
  position: relative;
  color: #555;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  .featured-background{
      position: relative;
      &:before,&:after{
          position: absolute;
          content: "";
          z-index: 3;
          left: -100px;
          right: -100px;
          top: 100%;
          height: 100px;
          background: #FBFBFB;
          -webkit-transform: rotate(2.2deg);
          transform: rotate(2.2deg);
          -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
      }
      &:after{
          -webkit-transform: rotate(-2.2deg);
          transform: rotate(-2.2deg);
      }
      .backgroundimg{
          height: 300px;
          position: relative;
          width: 100%;
          padding-top: 100px;
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./homebg.jpg) no-repeat;
          background-repeat: repeat, no-repeat;
          background-position-x: 0%, 0%;
          background-position-y: 0%, 0%;
          background-size: auto auto, auto auto;
          min-height: 300px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          .headerdes-container{
              text-align: center;
              padding: 0 100px;
              .peicon{
                  position: relative;
                  float: right;
                  border-radius: 50%;
                  // top: 12px;
                  // right: 10px;
                  height: 87px;
                  width: 87px;
                  text-align: center;
                  line-height: 87px;
                  font-size: 51px;
                  color: rgba(255, 255, 255, 0.71);
                  top: -12px;
                  @include breakpoint(visible-till-md){
                      display: none;
                  }
              }
          }
          fieldset{
              border: 1px solid rgba(255, 255, 255, 0.43);
              margin: auto 0;
              border-radius: 50px;
              height: 100px;
              position: relative;
              @include breakpoint(visible-till-md){
                  height: inherit;
              }
              @include breakpoint(visible-xs){
                  border: none;
              }
          }
          legend{
              width: auto;
              padding: 0 10px;
              border: none;
              color: rgba(255, 255, 255, 0.71);
              margin: auto;
              font-size: 12px;
              letter-spacing: 2px;
              text-align: center;
              @include breakpoint(visible-till-md){
                  display: none;
              }
          }
          h3{
              text-align: center;
              margin: 0;
              padding-left: 87px;
              font-size: 40px;
              color: rgba(255, 255, 255, 0.71);
              line-height: 67px;
              font-family: Montserrat;
              @include breakpoint(visible-till-md){
                  font-size: 30px;
              }
              @include breakpoint(visible-xs){
                  font-size: 24px;
              }
          }
      }
  }
    .thecontainer{
        position: relative;
        padding: 2em 0 3em;
        max-width: 1040px;
        width: 90%;
        margin: 0 auto;
        z-index: 4;
    }
}

.personalinfo {
    padding: 0;
    list-style: none;
    span{
      height: 35px;
      line-height: 35px;
      display: inline-block;
    }
}

.about-title{
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.personalinfo-tag{
  width: 110px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 11px;
}
  
.av-freelance, .personalinfo-item i {
  display: inline !important;
  color: #fff;
  padding: 2px 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 10px;
  font-style: normal;
  margin-right: 5px;
}
  
.av-freelance, .personalinfo-item i {
  background: $main-color2;
}
  


.resume-container {
  padding-bottom: 1px;
}
.timeline {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  &:before{
    content: '';
    position: absolute;
    top: 100px;
    bottom: 0;
    background: #ddd;
    left: 45px;
    border: 1px solid #eee;
    margin: 0;
    border-radius: 2px;
  }
  &>li{
    position: relative;
    margin-bottom: 15px;
    &:before,&:after{
      display: table;
      content: " ";
    }
    &:after{
      clear: both;
    }
    &.time-label{
      &>span{
        padding: 5px;
        padding-right: 5px;
        padding-left: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 50px;
        text-transform: uppercase;
        border: 2px solid #f0f0f1;
        font-size: 9px;
        background: #FBFBFB;
        font-family: Montserrat;
      }
    }
    &>.timeline-item{
      margin-left: 60px;
      padding: 5px;
      position: relative;
      &>.time{
        font-size: 9px;
        float: right;
        height: 25px;
        line-height: 25px;
        border-radius: 0 50px 50px 0;
        padding: 0 10px;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
      }
      &>.timeline-header{
        margin: 0;
        padding: 0 10px;
        font-size: 9px;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        height: 25px;
        border-radius: 50px;
        color: #fff;
        font-family: Montserrat;
        background: $main-color2;
      }
    }
  }
  .res-location{
    margin: 0 7px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 8px;
  }
}
  
.timeline > li > .peicon, .timeline > li > .glyphicon, .timeline > li > .ion, .downloadcv {
  width: 35px;
  height: 35px;
  font-size: 18px;
  line-height: 37px;
  position: absolute;
  border-radius: 50px;
  text-align: center;
  left: 14px;
  top: 0;
  color: #fff !important;
  background-color: $main-color1;
}
.resume-container{
  .res-sec-date{
    display: inline-block;
    top: 41%;
    left: 17px;
    padding: 10px 0;
    position: absolute;
    background: #FBFBFB;
    font-family: Montserrat;
    font-size: 12px;
    color: $main-color2;
    span{
      display: block;
    }
    .firstdate{
      border-bottom: 2px solid #f0f0f1;
    }
  }
}
  
.timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
  padding: 10px 0;
  padding: 20px;
  margin-top: 10px;
  border: 2px solid #f0f0f1;
  background: #FDFDFD;
  border-radius: 4px;
}

.skills-container, .skills-container-3 {
  border: 2px solid #f0f0f1;
  background: #FDFDFD;
  border-radius: 4px;
  margin-bottom: 10px;
}

.skills-item {
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #f0f0f1;
  .peicon{
    height: 50px;
    line-height: 50px;
    font-size: 29px;
    width: 50px;
    text-align: center;
  }
}

.skills-title {
  font-size: 9px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  position: absolute;
  font-family: Montserrat;
}

.skills-cardcontent {
  padding: 26px 20px 20px 20px;
  position: relative;
  border-top: 2px solid #f0f0f1;
  .skill-percent{
    display: block;
    position: absolute;
    top: -25px;
    right: 23px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.78);
    cursor: pointer;
    font-family: Montserrat;
    background: $main-color2;
  }
}

.skills-cardfooters{
  padding: 10px 0;
  .skills-cardfooter{
    padding: 0px 20px;
    // border-top: 2px solid #f0f0f1;
    .skills-label{
      color: rgba(255, 255, 255, 0.91);
      font-size: 10px;
      padding: 2px 9px;
      border-radius: 50px;
      font-weight: bold;
      background: $main-color2;
    }
    .skills-level{
      float: right;
      font-size: 10px;
    }
  }
}

.bar-container {
  height: 3px;
  background: rgba(0, 0, 0, 0.13);
  margin: 4px 0px;
  overflow: hidden;
  border-radius: 1.5px;
  width: 100%;
}

.bar, .skills-container-4 .bar {
  float: left;
  background: #263238;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

figure.snip1204 .author h5, figure.snip1204 .author span {
  left: 140px;
  position: absolute;
  padding: 3px 5px;
}

figure.snip1204 {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: left;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: 10px;
  blockquote{
    display: block;
    border-radius: 4px;
    position: relative;
    background-color: #FDFDFD;
    padding: 30px 50px 65px 50px;
    margin: 0 0 -40px;
    border: 2px solid #f0f0f1;
    font-size: 14px;
    &:before,&:after{
      font-family: 'FontAwesome';
      content: "\201C";
      position: absolute;
      font-size: 50px;
      opacity: 0.3;
      font-style: normal;
    }
    &:before{
      top: 35px;
      left: 20px;
    }
    &:after{
      content: "\201D";
      right: 20px;
      bottom: 35px;
    }
  }

  .author{
    margin: 0;
    height: 80px;
    display: block;
    text-align: left;
    padding: 0 35px;
    position: relative;
    img{
      max-width: 100%;
      height: 80px;
      width: 80px;
      border-radius: 4px;
      margin-right: 5px;
      display: block;
      z-index: 1;
      position: absolute;
      left: 50px;
    }
    h5{
      bottom: 56%;
      margin: 0;
      font-size: 14px;
      color:$main-color2;
    }
    span{
      top: 47%;
    }
  }
}
.testi-location {
  background: $main-color1;
  margin-top: 10px;
  border-radius: 50px;
  padding: 0px 10px 0 50px !important;
  color: rgba(255, 255, 255, 0.78);
  left: 96px !important;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 9px !important;
}