@import './_assets/css/mixins';

.edit-modal{
    .btn-info{
        background: $main-color2;
        color: white;
        margin-top: 30px;
        border-radius: 0;
        @include breakpoint(visible-xs){
            margin-top: 0;
        }
    }
    .modal-dialog{
        width: 90%;
        margin: 15px auto;
        @include breakpoint(visible-xs){
            width: 100%;
        }
    }
    .modal-header{
        border: none;
        background: $main-color1;
        color: white;
        .modal-title{
            font-size: 16px;
        }
    }
    .modal-footer{
        border: none;
    }
    .form-control{
        &:focus{
            border-color: $main-color1;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38, 50, 56,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38, 50, 56,.6);
        }
    }
    .tag{
        background: $main-color2;
        color: white;
        padding: 3px 6px;
        margin-right: 9px;
        border-radius: 17px;
        .remove-tag{
            cursor: pointer;
            margin-left: 10px;
            i{
                font-size: 13px;
            }
        }
    }
}