.edit-modal .btn-info {
  background: #04A8F4;
  color: white;
  margin-top: 30px;
  border-radius: 0; }
  @media (max-width: 767px) {
    .edit-modal .btn-info {
      margin-top: 0; } }

.edit-modal .modal-dialog {
  width: 90%;
  margin: 15px auto; }
  @media (max-width: 767px) {
    .edit-modal .modal-dialog {
      width: 100%; } }

.edit-modal .modal-header {
  border: none;
  background: #263238;
  color: white; }
  .edit-modal .modal-header .modal-title {
    font-size: 16px; }

.edit-modal .modal-footer {
  border: none; }

.edit-modal .form-control:focus {
  border-color: #263238;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 50, 56, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 50, 56, 0.6); }

.edit-modal .tag {
  background: #04A8F4;
  color: white;
  padding: 3px 6px;
  margin-right: 9px;
  border-radius: 17px; }
  .edit-modal .tag .remove-tag {
    cursor: pointer;
    margin-left: 10px; }
    .edit-modal .tag .remove-tag i {
      font-size: 13px; }
