@import './_assets/css/mixins';
.portfolio{
    position: relative;
    color: #555;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    .featured-background{
        position: relative;
        &:before,&:after{
            position: absolute;
            content: "";
            z-index: 3;
            left: -100px;
            right: -100px;
            top: 100%;
            height: 100px;
            background: #FBFBFB;
            -webkit-transform: rotate(2.2deg);
            transform: rotate(2.2deg);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
        }
        &:after{
            -webkit-transform: rotate(-2.2deg);
            transform: rotate(-2.2deg);
        }
        .backgroundimg{
            height: 300px;
            position: relative;
            width: 100%;
            padding-top: 100px;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./homebg.jpg) no-repeat;
            background-repeat: repeat, no-repeat;
            background-position-x: 0%, 0%;
            background-position-y: 0%, 0%;
            background-size: auto auto, auto auto;
            min-height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .headerdes-container{
                text-align: center;
                padding: 0 100px;
                .peicon{
                    position: relative;
                    float: right;
                    border-radius: 50%;
                    // top: 12px;
                    // right: 10px;
                    height: 87px;
                    width: 87px;
                    text-align: center;
                    line-height: 87px;
                    font-size: 51px;
                    color: rgba(255, 255, 255, 0.71);
                    top: -12px;
                    @include breakpoint(visible-till-md){
                        display: none;
                    }
                }
            }
            fieldset{
                border: 1px solid rgba(255, 255, 255, 0.43);
                margin: auto 0;
                border-radius: 50px;
                height: 100px;
                position: relative;
                @include breakpoint(visible-till-md){
                    height: inherit;
                }
                @include breakpoint(visible-xs){
                    border: none;
                }
            }
            legend{
                width: auto;
                padding: 0 10px;
                border: none;
                color: rgba(255, 255, 255, 0.71);
                margin: auto;
                font-size: 12px;
                letter-spacing: 2px;
                text-align: center;
                @include breakpoint(visible-till-md){
                    display: none;
                }
            }
            h3{
                text-align: center;
                margin: 0;
                padding-left: 87px;
                font-size: 40px;
                color: rgba(255, 255, 255, 0.71);
                line-height: 67px;
                font-family: Montserrat;
                @include breakpoint(visible-till-md){
                    font-size: 30px;
                }
                @include breakpoint(visible-xs){
                    font-size: 24px;
                }
            }
        }
    }
    .thecontainer{
        position: relative;
        padding: 2em 0 3em;
        max-width: 1040px;
        width: 90%;
        margin: 0 auto;
        z-index: 4;
        .portfcountcol{
            .portfocount_container {
                background: $main-color2;
                height: 30px;
                line-height: 30px;
                float: left;
                color: rgba(255, 255, 255, 0.82);
                border-radius: 50px;
                text-transform: uppercase;
                font-size: 11px;
                font-family: Montserrat;
                span{
                    padding: 0px 20px;
                }
                .pnumbercount{
                    width: 40px;
                    height: 30px;
                    display: inline-block;
                    line-height: 30px;
                    text-align: center;
                    font-size: 15px;
                    float: right;
                    border-top: none;
                    border-bottom: none;
                    border-right: none;
                    padding: 0;
                    background: rgba(0, 0, 0, 0.13);
                    border-radius: 0 50px 50px 0;
                }
            }
        }

        .portitem{
            transition: transform 500ms ease-out 0s, opacity 500ms ease-out 0s;
            margin-bottom: 30px;
            .portfolioitem-container{
                background: #FDFDFD;
                border-radius: 4px;
                &:hover{

                }
                .portfolio-item{
                    position: relative;
                }
                .portfolio-cardcontent{
                    padding: 25px 20px;
                    position: relative;
                    border-left: 2px solid #f0f0f1;
                    border-right: 2px solid #f0f0f1;
                    .magnifictrig{
                        background: $main-color2;
                        display: block;
                        position: absolute;
                        top: -25px;
                        right: 23px;
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        border-radius: 50%;
                        line-height: 58px;
                        text-align: center;
                        font-size: 30px;
                        color: #fff;
                        z-index: 4;
                        cursor: pointer;
                        -webkit-transition: all .3s ease-in;
                        transition: all .3s ease-in;
                        &:hover{
                            background: #fff;
                            cursor: pointer;
                            color: $main-color2;
                        }
                    }

                    .portfoiocard-title{
                        font-size: 13px;
                        margin-bottom: 5px;
                        display: inline-block;
                        font-family: Montserrat;
                    }                    
                }
                .portfolio-cardfooter{
                    padding: 10px 20px;
                    border: 2px solid #f0f0f1;
                    border-radius: 0 0 4px 4px;
                    .portfolio-label{
                        color: rgba(255, 255, 255, 0.91);
                        background: $main-color1;
                        font-size: 8px;
                        padding: 2px 9px;
                        border-radius: 50px;
                        font-weight: bold;
                    }
                    .portfolio-date{
                        float: right;
                        font-size: 10px;
                        font-weight: bold;
                        border-radius: 50px;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

.portfolioitem-layer{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,0.3);
    z-index: 3;
}