@import './_assets/css/mixins';
.home{
    background: #000 url(./homebg.jpg) no-repeat center 0%/cover;
    -webkit-transition: background-position .3s ease-in-out;
    transition: background-position .3s ease-in-out;
    overflow: hidden;
    &-slide{
        position: relative;
        box-sizing: border-box;
    }
    h1,h2{
        color: #fff;
        font-size: 54px;
        font-family: Montserrat;
        line-height: 1.3;
        opacity: 0;
        max-width: 830px;
        padding: 0 100px;
        margin: 0 auto;
        overflow: hidden;
        -webkit-transition: opacity 0.85s cubic-bezier(0.77, 0, 0.175, 1);
        transition: opacity 0.85s cubic-bezier(0.77, 0, 0.175, 1);
        @include breakpoint(visible-xs){
            font-size: 30px;
        }
    }
    h1{
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
    }
    h2{
        color: $main-color2;
        transition-delay: .8s;
    }
}

.slide-table{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.fp-tableCell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.slide-one, .slide-three{
    background: linear-gradient(-45deg, transparent 25%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 75%, transparent 75%, transparent 100%);
}
.slide-two{
    background: linear-gradient(45deg, transparent 25%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 75%, transparent 75%, transparent 100%);
    text-align: right;
}

.fp-section.active{
    h1,h2{
        opacity:1
    }
}
.fp-viewing-0 .home {
    background-position: center 0%;
}
.fp-viewing-1 .home {
    background-position: center 50%;
}
.fp-viewing-2 .home {
    background-position: center 100%;
}

.mouse-down {
    position: fixed;
    top: 50%;
    right: 17px;
    z-index: 999;
    width:15px;
    height:30px;
    border:2px solid $main-color2;
    border-radius:20px;
    .bullet{
        width:5px;
        height:5px;
        background:$main-color2;
        margin: auto auto;
        border-radius:8px;
        position:relative;
        
        -webkit-animation: scrollDownUp 3s infinite; /* Chrome, Safari, Opera */
          animation: scrollDownUp 3s infinite;
    }
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes scrollDownUp {
    0% {top: 5px;}
    50% {top: 20px;}
    100% {top: 5px;}
} 

/* Standard syntax */ 
@keyframes scrollDownUp {
    0% {top: 5px;}
    50% {top: 20px;}
    100% {top: 5px;}
}