@import './_assets/css/mixins';

.comment-modal{
    .modal-body{
        padding: 0 15px;
    }
    .comment-list{
        list-style: none outside none;
        margin: 0;
        padding: 0;
        .comment{
            background: #f3f3f3;
            color: rgba(51, 51, 51, 0.87);
            margin: 10px 0;
            padding: 15px;
            position: relative;
            .comment-delete{
                cursor: pointer;
                position: absolute;
                right: 12px;
                font-size: 20px;
                top: 7px;
            }
            &:after{
                border-bottom: 1rem solid transparent;
                border-right: 1rem solid #f3f3f3;
                border-top: 1rem solid transparent;
                content: "";
                height: 0;
                left: -1rem;
                position: absolute;
                top: 4rem;
                width: 0;
            }
            @include breakpoint(visible-from-xs){
                margin: 10px 0;
                padding: 10px;
            }

            &-header{
                .comment-date{
                    margin: 0;
                    margin-bottom: 0px;
                    background: #a5a3a3;
                    display: inline-block;
                    border-radius: 50px;
                    color: rgba(255, 255, 255, 0.8);
                    padding: 0px 20px;
                    margin-bottom: 10px;
                    font-size: 11px;
                    height: 20px;
                    line-height: 20px;
                }
                .comment-title{
                    margin: 0 0 1rem;
                    font-size: 17px;
                    strong{
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}