.spinner-bouncer {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 45%;
    left: 50%;
}
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: -webkit-linear-gradient(top, rgba(0,166,90,0.7) 0%,rgba(0,134,205,0.8) 16%,rgba(135,57,150,0.92) 37%,rgba(188,56,91,1) 50%,rgba(236,56,36,0.93) 62%,rgba(240,129,43,0.81) 82%,rgba(255,201,10,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }