@import './_assets/css/mixins';
.blog-card{
    -webkit-box-shadow: -1px 15px 30px -12px black;
    box-shadow: -1px 15px 30px -12px black;
    .card-wrapper{
        min-height: 300px;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        &:hover{
            .menu-content{
                span{
                    -webkit-transform: translate(-50%, -10px);
                    transform: translate(-50%, -10px);
                    opacity: 1;
                    font-family: Montserrat;
                    padding-top: 3px;
                }
            }
            .card-data{
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
        &-layer{
            width: 100%;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8))
        }
    }
    .card-header{
        position: relative;
        color: #fff;
        padding: 1em;
        z-index: 3;
        &:before,&:after{
            content: '';
            display: table;
        }
        &:after{
            clear: both;
        }
        .date{
            float: left;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            color: rgba(255, 255, 255, 0.75);
            font-family: Montserrat;
        }
    }
    .menu-content{
        margin: 0;
        padding: 0;
        list-style-type: none;

        float: right;   
        &:before,&:after{
            content: '';
            display: table;
        }
        &:after{
            clear: both;
        }
        li{
            margin: 0 5px;
            position: relative;
            display: inline-block;
            font-size: 16px;
            &>div{
                cursor: pointer;
            }
            button{
                font-size: 16px;
                text-align: center;
                padding: 0;
                background: none;
                box-shadow: none;
                border: 0;  
                margin-left: 15px;       
            }
        }
        a{
            color: #fff;
            text-decoration: none;
        }
        span{
            position: absolute;
            left: 50%;
            top: 0;
            font-size: 10px;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            font-family: Lato;

            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            opacity: 0;
        }
    }
    .card-data{
        position: absolute;
        bottom: 0;
        width: 100%;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        z-index: 3;

        color: #fff;
        -webkit-transform: translateY(calc(70px + 4em));
        transform: translateY(calc(70px + 4em));
        .card-content{
            padding: 1em;
            position: relative;
            z-index: 1;
        }
    }
    .cardtag{
        margin-bottom: 10px;
        .label{
            background: $main-color2;
            border-radius: 50px;
            padding: 2px 10px;
            text-transform: uppercase;
            font-size: 10px;
            margin-right: 4px;
        }
    }
    .author{
        font-size: 13px;
        font-family: Montserrat;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .title{
        margin-top: 10px;
        line-height: 25px;
        font-weight: lighter;
        font-size: 18px;
        color: #fff;        
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    .text{
        height: 70px;
        margin: 0;
        opacity: 0.6;
        font-size: 14px;
        line-height: 24px;
        overflow: hidden;
    }
    .button{
        display: block;
        width: 100px;
        margin: 2em auto 1em;
        text-align: center;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
        line-height: 1;
        position: relative;
        text-decoration: none;
        &:after{
            content: '\2192';
            opacity: 0;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        &:hover{
            &:after{
                -webkit-transform: translate(5px, -50%);
                transform: translate(5px, -50%);
                opacity: 1;
            }
        }
    }
}