.blog-card {
  -webkit-box-shadow: -1px 15px 30px -12px black;
  box-shadow: -1px 15px 30px -12px black; }
  .blog-card .card-wrapper {
    min-height: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; }
    .blog-card .card-wrapper:hover .menu-content span {
      -webkit-transform: translate(-50%, -10px);
      transform: translate(-50%, -10px);
      opacity: 1;
      font-family: Montserrat;
      padding-top: 3px; }
    .blog-card .card-wrapper:hover .card-data {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .blog-card .card-wrapper-layer {
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 2;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)); }
  .blog-card .card-header {
    position: relative;
    color: #fff;
    padding: 1em;
    z-index: 3; }
    .blog-card .card-header:before, .blog-card .card-header:after {
      content: '';
      display: table; }
    .blog-card .card-header:after {
      clear: both; }
    .blog-card .card-header .date {
      float: left;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0 10px;
      color: rgba(255, 255, 255, 0.75);
      font-family: Montserrat; }
  .blog-card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right; }
    .blog-card .menu-content:before, .blog-card .menu-content:after {
      content: '';
      display: table; }
    .blog-card .menu-content:after {
      clear: both; }
    .blog-card .menu-content li {
      margin: 0 5px;
      position: relative;
      display: inline-block;
      font-size: 16px; }
      .blog-card .menu-content li > div {
        cursor: pointer; }
      .blog-card .menu-content li button {
        font-size: 16px;
        text-align: center;
        padding: 0;
        background: none;
        box-shadow: none;
        border: 0;
        margin-left: 15px; }
    .blog-card .menu-content a {
      color: #fff;
      text-decoration: none; }
    .blog-card .menu-content span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      font-family: Lato;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0; }
  .blog-card .card-data {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    z-index: 3;
    color: #fff;
    -webkit-transform: translateY(calc(70px + 4em));
    transform: translateY(calc(70px + 4em)); }
    .blog-card .card-data .card-content {
      padding: 1em;
      position: relative;
      z-index: 1; }
  .blog-card .cardtag {
    margin-bottom: 10px; }
    .blog-card .cardtag .label {
      background: #04A8F4;
      border-radius: 50px;
      padding: 2px 10px;
      text-transform: uppercase;
      font-size: 10px;
      margin-right: 4px; }
  .blog-card .author {
    font-size: 13px;
    font-family: Montserrat;
    border-radius: 50px;
    color: white;
    text-transform: uppercase; }
  .blog-card .title {
    margin-top: 10px;
    line-height: 25px;
    font-weight: lighter;
    font-size: 18px;
    color: #fff; }
    .blog-card .title a {
      color: #fff;
      text-decoration: none; }
  .blog-card .text {
    height: 70px;
    margin: 0;
    opacity: 0.6;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden; }
  .blog-card .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    position: relative;
    text-decoration: none; }
    .blog-card .button:after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .blog-card .button:hover:after {
      -webkit-transform: translate(5px, -50%);
      transform: translate(5px, -50%);
      opacity: 1; }
