.contact {
  position: relative;
  color: #555;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px; }
  .contact .featured-background {
    position: relative; }
    .contact .featured-background:before, .contact .featured-background:after {
      position: absolute;
      content: "";
      z-index: 3;
      left: -100px;
      right: -100px;
      top: 100%;
      height: 100px;
      background: #FBFBFB;
      -webkit-transform: rotate(2.2deg);
      transform: rotate(2.2deg);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0; }
    .contact .featured-background:after {
      -webkit-transform: rotate(-2.2deg);
      transform: rotate(-2.2deg); }
    .contact .featured-background .backgroundimg {
      height: 300px;
      position: relative;
      width: 100%;
      padding-top: 100px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./homebg.jpg) no-repeat;
      background-repeat: repeat, no-repeat;
      background-position-x: 0%, 0%;
      background-position-y: 0%, 0%;
      background-size: auto auto, auto auto;
      min-height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .contact .featured-background .backgroundimg .headerdes-container {
        text-align: center;
        padding: 0 100px; }
        .contact .featured-background .backgroundimg .headerdes-container .peicon {
          position: relative;
          float: right;
          border-radius: 50%;
          height: 87px;
          width: 87px;
          text-align: center;
          line-height: 87px;
          font-size: 51px;
          color: rgba(255, 255, 255, 0.71);
          top: -12px; }
          @media (max-width: 992px) {
            .contact .featured-background .backgroundimg .headerdes-container .peicon {
              display: none; } }
      .contact .featured-background .backgroundimg fieldset {
        border: 1px solid rgba(255, 255, 255, 0.43);
        margin: auto 0;
        border-radius: 50px;
        height: 100px;
        position: relative; }
        @media (max-width: 992px) {
          .contact .featured-background .backgroundimg fieldset {
            height: inherit; } }
        @media (max-width: 767px) {
          .contact .featured-background .backgroundimg fieldset {
            border: none; } }
      .contact .featured-background .backgroundimg legend {
        width: auto;
        padding: 0 10px;
        border: none;
        color: rgba(255, 255, 255, 0.71);
        margin: auto;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center; }
        @media (max-width: 992px) {
          .contact .featured-background .backgroundimg legend {
            display: none; } }
      .contact .featured-background .backgroundimg h3 {
        text-align: center;
        margin: 0;
        padding-left: 87px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.71);
        line-height: 67px;
        font-family: Montserrat; }
        @media (max-width: 992px) {
          .contact .featured-background .backgroundimg h3 {
            font-size: 30px; } }
        @media (max-width: 767px) {
          .contact .featured-background .backgroundimg h3 {
            font-size: 24px; } }
  .contact .thecontainer {
    position: relative;
    padding: 2em 0 3em;
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
    z-index: 4; }
  .contact fieldset {
    border: none; }
  .contact #contact-form {
    width: auto;
    margin-bottom: 50px;
    padding: 0;
    text-align: center; }
    .contact #contact-form input {
      width: 100%;
      height: 50px;
      padding: 0px 15px 0px 15px;
      background: #f1f2f5;
      outline: none;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      background: rgba(248, 249, 251, 0.6);
      border: 2px solid #f0f0f1; }
    .contact #contact-form textarea {
      width: 100%;
      height: 110px;
      max-height: 110px;
      padding: 15px;
      background: #f1f2f5;
      outline: none;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      background: rgba(248, 249, 251, 0.6);
      border: 2px solid #f0f0f1; }
    .contact #contact-form .btn {
      margin-top: 10px; }
  .contact .contactinfo .peicon {
    background: #04A8F4;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    float: left; }
  .contact .contactinfo-detail h4 {
    font-size: 13px;
    font-family: Montserrat; }
