@import './_assets/css/mixins';
.contact{
    position: relative;
    color: #555;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    .featured-background{
        position: relative;
        &:before,&:after{
            position: absolute;
            content: "";
            z-index: 3;
            left: -100px;
            right: -100px;
            top: 100%;
            height: 100px;
            background: #FBFBFB;
            -webkit-transform: rotate(2.2deg);
            transform: rotate(2.2deg);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
        }
        &:after{
            -webkit-transform: rotate(-2.2deg);
            transform: rotate(-2.2deg);
        }
        .backgroundimg{
            height: 300px;
            position: relative;
            width: 100%;
            padding-top: 100px;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./homebg.jpg) no-repeat;
            background-repeat: repeat, no-repeat;
            background-position-x: 0%, 0%;
            background-position-y: 0%, 0%;
            background-size: auto auto, auto auto;
            min-height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .headerdes-container{
                text-align: center;
                padding: 0 100px;
                .peicon{
                    position: relative;
                    float: right;
                    border-radius: 50%;
                    // top: 12px;
                    // right: 10px;
                    height: 87px;
                    width: 87px;
                    text-align: center;
                    line-height: 87px;
                    font-size: 51px;
                    color: rgba(255, 255, 255, 0.71);
                    top: -12px;
                    @include breakpoint(visible-till-md){
                        display: none;
                    }
                }
            }
            fieldset{
                border: 1px solid rgba(255, 255, 255, 0.43);
                margin: auto 0;
                border-radius: 50px;
                height: 100px;
                position: relative;
                @include breakpoint(visible-till-md){
                    height: inherit;
                }
                @include breakpoint(visible-xs){
                    border: none;
                }
            }
            legend{
                width: auto;
                padding: 0 10px;
                border: none;
                color: rgba(255, 255, 255, 0.71);
                margin: auto;
                font-size: 12px;
                letter-spacing: 2px;
                text-align: center;
                @include breakpoint(visible-till-md){
                    display: none;
                }
            }
            h3{
                text-align: center;
                margin: 0;
                padding-left: 87px;
                font-size: 40px;
                color: rgba(255, 255, 255, 0.71);
                line-height: 67px;
                font-family: Montserrat;
                @include breakpoint(visible-till-md){
                    font-size: 30px;
                }
                @include breakpoint(visible-xs){
                    font-size: 24px;
                }
            }
        }
    }
    .thecontainer{
        position: relative;
        padding: 2em 0 3em;
        max-width: 1040px;
        width: 90%;
        margin: 0 auto;
        z-index: 4;
    }

    fieldset{
        border: none;
    }

    #contact-form{
        width: auto;
        margin-bottom: 50px;
        padding: 0;
        text-align: center;
        input{
            width: 100%;
            height: 50px;
            padding: 0px 15px 0px 15px;
            background: #f1f2f5;
            outline: none;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            background: rgba(248, 249, 251, 0.6);
            border: 2px solid #f0f0f1;
        }
        textarea{
            width: 100%;
            height: 110px;
            max-height: 110px;
            padding: 15px;
            background: #f1f2f5;
            outline: none;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            background: rgba(248, 249, 251, 0.6);
            border: 2px solid #f0f0f1;
        }
        .btn{
            margin-top: 10px;
        }
    }
    .contactinfo{
        .peicon{
            background: $main-color2;

            height: 40px;
            width: 40px;
            border-radius: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 25px;
            color: #fff;
            margin-right: 20px;
            float: left;
        }
        &-detail{
            h4{
                font-size: 13px;
                font-family: Montserrat;
            }
        }
    }
}