@import './_assets/css/mixins';
body{
    background-color: #ecf0f5;
}
.content-wrapper{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    perspective: 1200px;
}