.blog {
  position: relative;
  color: #555;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px; }
  .blog .featured-background {
    position: relative; }
    .blog .featured-background:before, .blog .featured-background:after {
      position: absolute;
      content: "";
      z-index: 3;
      left: -100px;
      right: -100px;
      top: 100%;
      height: 100px;
      background: #FBFBFB;
      -webkit-transform: rotate(2.2deg);
      transform: rotate(2.2deg);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0; }
    .blog .featured-background:after {
      -webkit-transform: rotate(-2.2deg);
      transform: rotate(-2.2deg); }
    .blog .featured-background .backgroundimg {
      height: 300px;
      position: relative;
      width: 100%;
      padding-top: 100px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./homebg.jpg) no-repeat;
      background-repeat: repeat, no-repeat;
      background-position-x: 0%, 0%;
      background-position-y: 0%, 0%;
      background-size: auto auto, auto auto;
      min-height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .blog .featured-background .backgroundimg .headerdes-container {
        text-align: center;
        padding: 0 100px; }
        .blog .featured-background .backgroundimg .headerdes-container .peicon {
          position: relative;
          float: right;
          border-radius: 50%;
          height: 87px;
          width: 87px;
          text-align: center;
          line-height: 87px;
          font-size: 51px;
          color: rgba(255, 255, 255, 0.71);
          top: -12px; }
          @media (max-width: 992px) {
            .blog .featured-background .backgroundimg .headerdes-container .peicon {
              display: none; } }
      .blog .featured-background .backgroundimg fieldset {
        border: 1px solid rgba(255, 255, 255, 0.43);
        margin: auto 0;
        border-radius: 50px;
        height: 100px;
        position: relative; }
        @media (max-width: 992px) {
          .blog .featured-background .backgroundimg fieldset {
            height: inherit; } }
        @media (max-width: 767px) {
          .blog .featured-background .backgroundimg fieldset {
            border: none; } }
      .blog .featured-background .backgroundimg legend {
        width: auto;
        padding: 0 10px;
        border: none;
        color: rgba(255, 255, 255, 0.71);
        margin: auto;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center; }
        @media (max-width: 992px) {
          .blog .featured-background .backgroundimg legend {
            display: none; } }
      .blog .featured-background .backgroundimg h3 {
        text-align: center;
        margin: 0;
        padding-left: 87px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.71);
        line-height: 67px;
        font-family: Montserrat; }
        @media (max-width: 992px) {
          .blog .featured-background .backgroundimg h3 {
            font-size: 30px; } }
        @media (max-width: 767px) {
          .blog .featured-background .backgroundimg h3 {
            font-size: 24px; } }
  .blog .thecontainer {
    position: relative;
    padding: 2em 0 3em;
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
    z-index: 4; }
    .blog .thecontainer .servicecol {
      margin-bottom: 30px; }
      .blog .thecontainer .servicecol .service-iconbox {
        padding: 20px;
        margin-top: 10px;
        border: 2px solid #f0f0f1;
        background: #FDFDFD;
        border-radius: 4px; }
        .blog .thecontainer .servicecol .service-iconbox .peicon {
          height: 100px;
          width: 100px;
          line-height: 100px;
          font-size: 71px;
          border-radius: 50%; }
        .blog .thecontainer .servicecol .service-iconbox .service-img {
          height: 100px;
          width: 100px;
          margin-bottom: 20px; }
        .blog .thecontainer .servicecol .service-iconbox h5 {
          font-size: 13px;
          text-transform: uppercase;
          font-family: Montserrat;
          color: #04A8F4; }
