@import './_assets/css/mixins';

.delete-modal{
    .modal-header{
        border: none;
        background:#CC3E3A;
        color: white;
        font-size: 16px;        
        h4{
            font-size: 16px;
            margin: 0;
        }
    }
    .modal-body{
        padding: 30px 0;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    .modal-footer{
        border: none;
    }
}