.portfolio-admin-title {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px; }
  .portfolio-admin-title h3 {
    margin: 0;
    float: left;
    margin-right: 15px;
    font-size: 20px; }
  .portfolio-admin-title .add-btn {
    display: flex;
    transition: all .3s ease;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #04A8F4;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    cursor: pointer; }
    .portfolio-admin-title .add-btn:hover {
      background: #0497db; }

.portfolio-admin .portitem {
  transition: transform 500ms ease-out 0s, opacity 500ms ease-out 0s;
  margin-bottom: 20px; }
  .portfolio-admin .portitem .portfolioitem-container {
    box-shadow: -1px 15px 30px -12px black;
    background: #FDFDFD;
    border-radius: 4px; }
    .portfolio-admin .portitem .portfolioitem-container:hover > .portfolio-item .portfolioitem-layer {
      -webkit-transition: all 0.1s ease-in;
      transition: all .3s ease-in;
      opacity: 1;
      visibility: visible; }
    .portfolio-admin .portitem .portfolioitem-container .portfolio-item {
      position: relative; }
      .portfolio-admin .portitem .portfolioitem-container .portfolio-item .portfolioitem-layer {
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.3);
        z-index: 3; }
    .portfolio-admin .portitem .portfolioitem-container .portfolio-cardcontent {
      padding: 25px 20px;
      position: relative;
      border-left: 2px solid #f0f0f1;
      border-right: 2px solid #f0f0f1; }
      .portfolio-admin .portitem .portfolioitem-container .portfolio-cardcontent .portfoiocard-title {
        font-size: 13px;
        margin-bottom: 5px;
        display: inline-block;
        font-family: Montserrat; }
    .portfolio-admin .portitem .portfolioitem-container .portfolio-cardfooter {
      padding: 10px 20px;
      border: 2px solid #f0f0f1;
      border-radius: 0 0 4px 4px; }
      .portfolio-admin .portitem .portfolioitem-container .portfolio-cardfooter .portfolio-label {
        color: rgba(255, 255, 255, 0.91);
        background: #263238;
        font-size: 8px;
        padding: 2px 9px;
        border-radius: 50px;
        font-weight: bold; }
      .portfolio-admin .portitem .portfolioitem-container .portfolio-cardfooter .portfolio-date {
        float: right;
        font-size: 10px;
        font-weight: bold;
        border-radius: 50px;
        padding: 0 10px; }

.portfolio-admin .card-btns {
  margin: 0;
  float: right; }
  .portfolio-admin .card-btns button {
    font-size: 16px;
    text-align: center;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0;
    margin-left: 15px; }
