.main-section {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  color: black; }

#left-menu-toggle {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  padding: 5px;
  cursor: pointer; }
  #left-menu-toggle .peicon {
    color: #04A8F4;
    font-size: 40px; }

#right-menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1001;
  padding: 5px;
  cursor: pointer; }
  #right-menu-toggle .peicon {
    color: #04A8F4;
    font-size: 40px; }
