.activity-admin-title {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px; }
  .activity-admin-title h3 {
    margin: 0;
    float: left;
    margin-right: 15px;
    font-size: 20px; }
  .activity-admin-title .add-btn {
    display: flex;
    transition: all .3s ease;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #04A8F4;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    cursor: pointer; }
    .activity-admin-title .add-btn:hover {
      background: #0497db; }

.activity-admin .activity-card {
  margin: 10px 0;
  background: white;
  padding: 0 15px;
  box-shadow: -1px 15px 30px -12px black; }
  .activity-admin .activity-card .card-head {
    padding: 5px 0px; }
    .activity-admin .activity-card .card-head h4 {
      font-size: 17px;
      font-weight: bold;
      float: left; }
  .activity-admin .activity-card .card-body {
    clear: both;
    padding: 5px 0; }
    .activity-admin .activity-card .card-body ul {
      list-style: none;
      padding: 0; }
      .activity-admin .activity-card .card-body ul li span:first-child {
        background: #04A8F4;
        color: white;
        padding: 2px 10px;
        border-radius: 50px;
        margin-right: 5px; }

.activity-admin .card-btns {
  margin: 10px 0;
  float: right; }
  .activity-admin .card-btns button {
    font-size: 22px;
    text-align: center;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0;
    margin-left: 15px; }
