@import './_assets/css/mixins';

.activity-admin{
    &-title{
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid lightgray;
        margin-bottom: 20px;
        h3{
            margin: 0;
            float: left;
            margin-right: 15px;
            font-size: 20px;
        }
        .add-btn{
            display: flex;
            transition: all .3s ease;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: $main-color2;
            border-radius: 50%;
            color: white;
            font-size: 20px;
            cursor: pointer;
            &:hover{
                background: darken($main-color2,5%);
            }
        }
    }
    .activity-card{
        margin: 10px 0;
        background: white;
        padding: 0 15px;
        box-shadow: -1px 15px 30px -12px black;
        .card-head{
            padding: 5px 0px;
            h4{
                font-size: 17px;
                font-weight: bold;
                float: left;
            }
        }
        .card-body{
            clear: both;
            padding: 5px 0;
            ul{
                list-style: none;
                padding:0;
                li{
                    span{
                        &:first-child{
                            background: $main-color2;
                            color: white;
                            padding: 2px 10px;
                            border-radius: 50px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .card-btns{
        margin: 10px 0;
        float: right;
        button{
            font-size: 22px;
            text-align: center;
            padding: 0;
            background: none;
            box-shadow: none;
            border: 0;  
            margin-left: 15px;                  
        }
    }
}