@import './_assets/css/mixins';

.resume-modal{
    .modal-header{
        border: none;
        background: $main-color1;
        color: white;
        .modal-title{
            font-size: 16px;
        }
    }
    .modal-footer{
        border: none;
    }
    .form-control{
        &:focus{
            border-color: $main-color1;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38, 50, 56,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38, 50, 56,.6);
        }
    }
}