*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

html {
  height: 100%;
  padding: 0;
  margin: 0; }

legend + * {
  -webkit-margin-top-collapse: separate; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #555;
  font-size: 14px;
  background-color: #fcfcfc;
  overflow: hidden;
  line-height: 24px;
  height: 100%;
  padding: 0;
  margin: 0; }

.App {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .App.left-toggled {
    padding-left: 120px; }
    @media (min-width: 992px) {
      .App.left-toggled {
        padding-left: 0; } }
  .App.left-toggled .left-sidebar {
    width: 120px; }
    @media (min-width: 992px) {
      .App.left-toggled .left-sidebar {
        width: 0; } }
  .App.left-toggled {
    padding-left: 120px; }
    @media (min-width: 992px) {
      .App.left-toggled {
        padding-left: 0; } }
  .App.right-toggled .right-sidebar {
    width: 250px; }
    @media (min-width: 992px) {
      .App.right-toggled .right-sidebar {
        width: 0; } }
  .App.right-toggled {
    padding-right: 250px; }
    @media (min-width: 992px) {
      .App.right-toggled {
        padding-right: 0; } }
  @media (min-width: 992px) {
    .App {
      padding-left: 120px;
      padding-right: 250px; } }

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #FBFBFB;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: auto;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.page-current {
  visibility: visible;
  z-index: 1; }

/*--------------------------------------------------
------------------   Scroll bar  -------------------
---------------------------------------------------*/
.mCSB_inside > .mCSB_container {
  margin-right: 0px !important; }

.mCSB_scrollTools {
  width: 4px !important; }

.mCSB_scrollTools {
  z-index: 40; }

.pagescroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #989898  !important; }

.mCSB_1_scrollbar .mCSB_dragger .mCSB_draggerRail {
  width: 6px; }

.pagescroll .mCSB_scrollTools {
  width: 8px !important; }

.pagescroll .mCSB_scrollTools .mCSB_draggerRail {
  width: 8px;
  border-radius: 0; }

.pagescroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
  border-radius: 0; }

.title-container {
  border-radius: 4px;
  height: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
  position: relative; }
  .title-container:before {
    content: "";
    position: absolute;
    top: 43%;
    left: 0;
    margin-top: 3px;
    width: 100%;
    border-bottom: 4px solid #f0f0f1; }
  .title-container .titlebg {
    position: relative;
    background: #FBFBFB;
    display: inline-block; }
  .title-container .icon-title {
    height: 45px;
    width: 45px;
    line-height: 37px;
    font-size: 16px;
    display: inline-block;
    color: #dedee0;
    border: 4px solid #f0f0f1;
    text-align: center;
    border-radius: 10px; }

.smalltitle {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  padding: 0 20px;
  background: #FBFBFB;
  letter-spacing: -0.7px;
  text-transform: uppercase;
  font-family: Montserrat; }

.row-wrapper {
  margin-bottom: 40px;
  margin-top: 40px; }

.h1, h1 {
  font-size: 36px; }

h4, h5 {
  font-size: 14px; }

figure {
  margin: 0; }

.btn {
  border-radius: 50px;
  padding: 4px 20px;
  font-family: Montserrat;
  transition: all .2s ease; }

.btn-default {
  background: none;
  border: 2px solid #f0f0f1; }

.paginationcontainer {
  text-align: center; }

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222; }

.p1 a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  font-family: Montserrat; }
  .p1 a.is-active {
    border-radius: 100%;
    color: #fff !important;
    background: #04A8F4; }
  .p1 a:hover {
    text-decoration: none; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }
  .pagination .paginationcontainer {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .pagination .paginnav {
    width: auto;
    margin: 0 10px;
    font-size: 12px; }

.oopss {
  background: #FBFBFB;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
  left: 0px; }

#error-text {
  top: 30%;
  position: relative;
  font-size: 40px;
  color: #eee; }
  #error-text span {
    position: relative;
    background: #555;
    color: #fff;
    font-size: 4em;
    padding: 0 20px;
    border-radius: 5px;
    font-weight: bolder;
    transition: all .5s;
    cursor: pointer;
    margin: 0 0 40px 0; }
  #error-text p {
    color: #e6e4e4;
    margin: 100px 0 0 0;
    font-size: 150%; }
    #error-text p.hmpg {
      margin: 55px 0 0 0 !important; }

.back {
  text-decoration: none;
  background: #5b5a5a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 30px;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease-out; }

.admin-wrapper {
  position: relative;
  color: #555;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  top: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden; }
  .admin-wrapper .admin-container {
    position: relative;
    padding: 1em 35px 5em;
    width: 100%;
    margin: 0 auto;
    z-index: 4; }

.loader {
  width: "100%";
  height: 200px;
  display: "flex";
  justify-content: "center";
  align-items: "center"; }

.help-block {
  color: #e33b3b; }
