.blog {
  position: relative;
  color: #555;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px; }
  .blog .featured-background {
    position: relative; }
    .blog .featured-background:before, .blog .featured-background:after {
      position: absolute;
      content: "";
      z-index: 3;
      left: -100px;
      right: -100px;
      top: 100%;
      height: 100px;
      background: #FBFBFB;
      -webkit-transform: rotate(2.2deg);
      transform: rotate(2.2deg);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0; }
    .blog .featured-background:after {
      -webkit-transform: rotate(-2.2deg);
      transform: rotate(-2.2deg); }
    .blog .featured-background .backgroundimg {
      height: 300px;
      position: relative;
      width: 100%;
      padding-top: 100px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./homebg.jpg) no-repeat;
      background-repeat: repeat, no-repeat;
      background-position-x: 0%, 0%;
      background-position-y: 0%, 0%;
      background-size: auto auto, auto auto;
      min-height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .blog .featured-background .backgroundimg .headerdes-container {
        text-align: center;
        padding: 0 100px; }
        .blog .featured-background .backgroundimg .headerdes-container .peicon {
          position: relative;
          float: right;
          border-radius: 50%;
          height: 87px;
          width: 87px;
          text-align: center;
          line-height: 87px;
          font-size: 51px;
          color: rgba(255, 255, 255, 0.71);
          top: -12px; }
          @media (max-width: 992px) {
            .blog .featured-background .backgroundimg .headerdes-container .peicon {
              display: none; } }
      .blog .featured-background .backgroundimg fieldset {
        border: 1px solid rgba(255, 255, 255, 0.43);
        margin: auto 0;
        border-radius: 50px;
        height: 100px;
        position: relative; }
        @media (max-width: 992px) {
          .blog .featured-background .backgroundimg fieldset {
            height: inherit; } }
        @media (max-width: 767px) {
          .blog .featured-background .backgroundimg fieldset {
            border: none; } }
      .blog .featured-background .backgroundimg legend {
        width: auto;
        padding: 0 10px;
        border: none;
        color: rgba(255, 255, 255, 0.71);
        margin: auto;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center; }
        @media (max-width: 992px) {
          .blog .featured-background .backgroundimg legend {
            display: none; } }
      .blog .featured-background .backgroundimg h3 {
        text-align: center;
        margin: 0;
        padding-left: 87px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.71);
        line-height: 67px;
        font-family: Montserrat; }
        @media (max-width: 992px) {
          .blog .featured-background .backgroundimg h3 {
            font-size: 30px; } }
        @media (max-width: 767px) {
          .blog .featured-background .backgroundimg h3 {
            font-size: 24px; } }
  .blog .thecontainer {
    position: relative;
    padding: 2em 0 3em;
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
    z-index: 4; }
  .blog .blogcol .blog-card-main {
    box-shadow: none; }
    .blog .blogcol .blog-card-main .card-wrapper {
      min-height: 350px;
      position: relative;
      overflow: hidden;
      margin-bottom: 30px; }
      .blog .blogcol .blog-card-main .card-wrapper .card-data {
        -webkit-transform: translateY(0);
        transform: translateY(0); }
      .blog .blogcol .blog-card-main .card-wrapper:hover .menu-content span {
        -webkit-transform: translate(-50%, -10px);
        transform: translate(-50%, -10px);
        opacity: 1;
        font-family: Montserrat;
        padding-top: 3px; }
      .blog .blogcol .blog-card-main .card-wrapper-layer {
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)); }
    .blog .blogcol .blog-card-main .card-header {
      position: relative;
      color: #fff;
      padding: 1em;
      z-index: 3; }
      .blog .blogcol .blog-card-main .card-header:before, .blog .blogcol .blog-card-main .card-header:after {
        content: '';
        display: table; }
      .blog .blogcol .blog-card-main .card-header:after {
        clear: both; }
      .blog .blogcol .blog-card-main .card-header .date {
        float: left;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        color: rgba(255, 255, 255, 0.75);
        font-family: Montserrat; }
    .blog .blogcol .blog-card-main .menu-content {
      margin: 0;
      padding: 0;
      list-style-type: none;
      float: right; }
      .blog .blogcol .blog-card-main .menu-content:before, .blog .blogcol .blog-card-main .menu-content:after {
        content: '';
        display: table; }
      .blog .blogcol .blog-card-main .menu-content:after {
        clear: both; }
      .blog .blogcol .blog-card-main .menu-content li {
        margin: 0 5px;
        position: relative;
        display: inline-block; }
      .blog .blogcol .blog-card-main .menu-content a {
        color: #fff;
        text-decoration: none; }
      .blog .blogcol .blog-card-main .menu-content span {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 10px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        font-family: Lato;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0; }
    .blog .blogcol .blog-card-main .card-data {
      position: absolute;
      bottom: 0;
      width: 100%;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      z-index: 3;
      color: #fff;
      -webkit-transform: translateY(calc(70px + 4em));
      transform: translateY(calc(70px + 4em)); }
      .blog .blogcol .blog-card-main .card-data .card-content {
        padding: 1em;
        position: relative;
        z-index: 1; }
    .blog .blogcol .blog-card-main .cardtag {
      margin-bottom: 10px; }
      .blog .blogcol .blog-card-main .cardtag .label {
        background: #04A8F4;
        border-radius: 50px;
        padding: 2px 10px;
        text-transform: uppercase;
        font-size: 10px;
        margin-right: 4px; }
    .blog .blogcol .blog-card-main .author {
      font-size: 13px;
      font-family: Montserrat;
      border-radius: 50px;
      color: white;
      text-transform: uppercase; }
    .blog .blogcol .blog-card-main .title {
      margin-top: 10px;
      line-height: 25px;
      font-weight: lighter;
      font-size: 18px; }
      .blog .blogcol .blog-card-main .title a {
        color: #fff;
        text-decoration: none; }
    .blog .blogcol .blog-card-main .text {
      height: 70px;
      margin: 0;
      opacity: 0.6;
      font-size: 14px;
      line-height: 24px;
      overflow: hidden; }
    .blog .blogcol .blog-card-main .button {
      display: block;
      width: 100px;
      margin: 2em auto 1em;
      text-align: center;
      font-size: 12px;
      color: #fff;
      line-height: 1;
      position: relative;
      text-decoration: none; }
      .blog .blogcol .blog-card-main .button:after {
        content: '\2192';
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .blog .blogcol .blog-card-main .button:hover:after {
        -webkit-transform: translate(5px, -50%);
        transform: translate(5px, -50%);
        opacity: 1; }
