@import './_assets/css/mixins';
.blog{
    position: relative;
    color: #555;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    .featured-background{
        position: relative;
        &:before,&:after{
            position: absolute;
            content: "";
            z-index: 3;
            left: -100px;
            right: -100px;
            top: 100%;
            height: 100px;
            background: #FBFBFB;
            -webkit-transform: rotate(2.2deg);
            transform: rotate(2.2deg);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
        }
        &:after{
            -webkit-transform: rotate(-2.2deg);
            transform: rotate(-2.2deg);
        }
        .backgroundimg{
            height: 300px;
            position: relative;
            width: 100%;
            padding-top: 100px;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./homebg.jpg) no-repeat;
            background-repeat: repeat, no-repeat;
            background-position-x: 0%, 0%;
            background-position-y: 0%, 0%;
            background-size: auto auto, auto auto;
            min-height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .headerdes-container{
                text-align: center;
                padding: 0 100px;
                .peicon{
                    position: relative;
                    float: right;
                    border-radius: 50%;
                    // top: 12px;
                    // right: 10px;
                    height: 87px;
                    width: 87px;
                    text-align: center;
                    line-height: 87px;
                    font-size: 51px;
                    color: rgba(255, 255, 255, 0.71);
                    top: -12px;
                    @include breakpoint(visible-till-md){
                        display: none;
                    }
                }
            }
            fieldset{
                border: 1px solid rgba(255, 255, 255, 0.43);
                margin: auto 0;
                border-radius: 50px;
                height: 100px;
                position: relative;
                @include breakpoint(visible-till-md){
                    height: inherit;
                }
                @include breakpoint(visible-xs){
                    border: none;
                }
            }
            legend{
                width: auto;
                padding: 0 10px;
                border: none;
                color: rgba(255, 255, 255, 0.71);
                margin: auto;
                font-size: 12px;
                letter-spacing: 2px;
                text-align: center;
                @include breakpoint(visible-till-md){
                    display: none;
                }
            }
            h3{
                text-align: center;
                margin: 0;
                padding-left: 87px;
                font-size: 40px;
                color: rgba(255, 255, 255, 0.71);
                line-height: 67px;
                font-family: Montserrat;
                @include breakpoint(visible-till-md){
                    font-size: 30px;
                }
                @include breakpoint(visible-xs){
                    font-size: 24px;
                }
            }
        }
    }
    .thecontainer{
        position: relative;
        padding: 2em 0 3em;
        max-width: 1040px;
        width: 90%;
        margin: 0 auto;
        z-index: 4;
    }

    .blogcol{
        .blog-card-main{
            box-shadow: none;
            .card-wrapper{
                min-height: 350px;
                position: relative;
                overflow: hidden;
                margin-bottom: 30px;
                .card-data{
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
                &:hover{
                    .menu-content{
                        span{
                            -webkit-transform: translate(-50%, -10px);
                            transform: translate(-50%, -10px);
                            opacity: 1;
                            font-family: Montserrat;
                            padding-top: 3px;
                        }
                    }

                }
                &-layer{
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 2;
                    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8))
                }
            }
            .card-header{
                position: relative;
                color: #fff;
                padding: 1em;
                z-index: 3;
                &:before,&:after{
                    content: '';
                    display: table;
                }
                &:after{
                    clear: both;
                }
                .date{
                    float: left;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    color: rgba(255, 255, 255, 0.75);
                    font-family: Montserrat;
                }
            }
            .menu-content{
                margin: 0;
                padding: 0;
                list-style-type: none;

                float: right;   
                &:before,&:after{
                    content: '';
                    display: table;
                }
                &:after{
                    clear: both;
                }
                li{
                    margin: 0 5px;
                    position: relative;
                    display: inline-block;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
                span{
                    position: absolute;
                    left: 50%;
                    top: 0;
                    font-size: 10px;
                    -webkit-transform: translate(-50%, 0);
                    transform: translate(-50%, 0);
                    font-family: Lato;

                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    opacity: 0;
                }
            }
            .card-data{
                position: absolute;
                bottom: 0;
                width: 100%;
                -webkit-transition: -webkit-transform 0.3s;
                transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                transition: transform 0.3s, -webkit-transform 0.3s;
                z-index: 3;

                color: #fff;
                -webkit-transform: translateY(calc(70px + 4em));
                transform: translateY(calc(70px + 4em));
                .card-content{
                    padding: 1em;
                    position: relative;
                    z-index: 1;
                }
            }
            .cardtag{
                margin-bottom: 10px;
                .label{
                    background: $main-color2;
                    border-radius: 50px;
                    padding: 2px 10px;
                    text-transform: uppercase;
                    font-size: 10px;
                    margin-right: 4px;
                }
            }
            .author{
                font-size: 13px;
                font-family: Montserrat;
                border-radius: 50px;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
            }
            .title{
                margin-top: 10px;
                line-height: 25px;
                font-weight: lighter;
                font-size: 18px;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
            .text{
                height: 70px;
                margin: 0;
                opacity: 0.6;
                font-size: 14px;
                line-height: 24px;
                overflow: hidden;
            }
            .button{
                display: block;
                width: 100px;
                margin: 2em auto 1em;
                text-align: center;
                font-size: 12px;
                color: #fff;
                line-height: 1;
                position: relative;
                text-decoration: none;
                &:after{
                    content: '\2192';
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }
                &:hover{
                    &:after{
                        -webkit-transform: translate(5px, -50%);
                        transform: translate(5px, -50%);
                        opacity: 1;
                    }
                }
            }
        }
    }
}