.dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (min-width: 992px) {
    .dashboard {
      padding-left: 120px; } }
  .dashboard.left-toggled .left-side {
    width: 120px; }
    @media (min-width: 992px) {
      .dashboard.left-toggled .left-side {
        width: 0; } }
  .dashboard.left-toggled {
    padding-left: 120px; }
    @media (min-width: 992px) {
      .dashboard.left-toggled {
        padding-left: 0; } }
