@import './_assets/css/mixins';

.dashboard{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    @include breakpoint(visible-from-md){
        padding-left: 120px;
    }
    &.left-toggled{
        .left-side{
          width:120px;
          @include breakpoint(visible-from-md){
              
            width: 0;
          }
        }
    }
    
    &.left-toggled{
        padding-left: 120px;
        @include breakpoint(visible-from-md){
            padding-left: 0;
        }
    }
}